* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 1rem 2rem;
    overflow: hidden;
    align-items: start;
    align-content: start;
}

.slides {
    width: 100%;
    height: 80%;
    background-color: red;
    margin-bottom: 1em;
    overflow: hidden;
}

.slides__inner {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    height: 100%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titles {
    width: 80%;
    height: calc(20% - 1em);
    background-color: blue;
}

.controls {
    width: 20%;
    height: calc(20% - 1em);    
    background-color: aqua;
}

.control {
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 50%;
    transition: all .4s ease;
}

.control:hover {
    border: none;
    background-color: white;
    opacity: 0.8;
    transform: scale(1.2);
}

input[name="slide"] {
    visibility: hidden;
    display: none;
}

#pic1:checked ~ .slides .slides__inner {
    margin-left: 0;
}

#pic2:checked ~ .slides .slides__inner {
    margin-left: -100%;
}

#pic3:checked ~ .slides .slides__inner {
    margin-left: -200%;
}

#pic4:checked ~ .slides .slides__inner {
    margin-left: -300%;
}



